@import "tailwindcss";

:root {
  --burnt-red: #B22222;
  --basil-green: #228B22;
  --soft-cream: #FAF3E0;
  --wooden-gold: #C49A6C;
  --snow-white: #FFFFFF;
  --text-dark: #222222;
}

#root {
  height: 100%;
}

body {
  background-color: var(--soft-cream);
  color: var(--text-dark);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step>img {
  height: 250px;
  margin-bottom: 16px;
}

.step>h1 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
}

.step>p {
  font-size: 20px;
  line-height: 1.5;
}

.mb-4 {
  margin-bottom: 1rem;
}

.next-step-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.next-step-button {
  background-color: var(--burnt-red);
  color: var(--snow-white);
  font-size: 1rem;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  transition: 0.5s;
  width: 100%;
}

.next-step-button:hover {
  opacity: 0.8;
  cursor: pointer;
}